.venv*/*
venv*/
.envrc
__pycache__/
.env
context_*

# Ignore any docs directories and everything inside them
**/docs/**
**/plans/**
**/policy/**

*.json
*.md
*.zip
**/found_data/**
**/test/**
**/tests/**